altgraph==0.17.4
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
idna==3.7
imageio==2.34.0
imageio-ffmpeg==0.4.9
lxml==5.2.2
moviepy==1.0.3
mutagen==1.47.0
numpy==1.26.4
packaging==24.0
pefile==2023.2.7
pillow==10.3.0
proglog==0.1.10
pycparser==2.22
pycryptodomex==3.20.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-docx==1.1.2
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.32.3
scipy==1.13.0
setuptools==69.2.0
tqdm==4.66.2
typing_extensions==4.11.0
urllib3==2.2.1
websockets==12.0
youtube-dl==2021.12.17
yt-dlp==2024.7.16
